<ion-view view-title="我的园地">
  <div class="bar bar-header bar-balanced">
    <h1 class="title">我的园地</h1>
  </div>
  <ion-content class="has-header padding">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="fields.loadFields()"> </ion-refresher>
    <ion-list>
      <ion-item class="item item-icon-right" ng-repeat="afield in fields.fields" type="item-text-wrap" href="#/fields/{{afield.fieldIndex}}">
        <h2 class="text-plain">{{afield.fieldName}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <div class="list">
          <span class="item" href="#" ng-repeat="dev in afield.devList" ng-class="fields.devClass(dev)"  style="border: 0">
            {{fields.devTypeName(dev)}}
            <span class="item-note" ng-class="fields.devClass(dev)">
              {{dev.val}}{{fields.devParamName(dev)}}
            </span>
          </span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
