<ion-view view-title="用户信息">
  <div class="bar bar-header bar-balanced">
    <h1 class="title">用户信息</h1>
  </div>
  <ion-content class="has-header padding">
    <ion-list>
      <ion-item class="item-divider text-plain">
        手机号
      </ion-item>
      <ion-item class="item-input">
        <input type="text" placeholder="请输入手机号" ng-model="account.userInfo.tel">
      </ion-item>
      <ion-toggle ng-model="account.userInfo.bRecvWarn" ng-true-value="1" ng-false-value="0" toggle-class="toggle-balanced">是否接收通知</ion-toggle>
    </ion-list>
    <button class="button button-energized button-block" ng-click="account.submitChange()">
      提交
    </button>

    <button class="button button-assertive button-block" ng-click="account.logOut()">
      登出
    </button>

  </ion-content>
</ion-view>
