<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-color-active-balanced"  ng-class="{'tabs-item-hide': $root.hideTabs}">

  <!-- Dashboard Tab
  <ion-tab title="登录" icon-off="ion-ios-pulse" hide-tabs="false" icon-on="ion-ios-pulse-strong" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>
-->
  <!-- Chats Tab -->
  <ion-tab title="我的油箱" icon-off="ion-ios-home-outline" hide-tabs="false" icon-on="ion-ios-home" href="#/tab/fields">
    <ion-nav-view name="tab-fields"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="用户中心" icon-off="ion-ios-person-outline" hide-tabs="false" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<script id="field-edit.html" type="text/ng-template">
  <div class="modal">
    <div class="bar bar-balanced">
      <button ng-click="fieldDetail.closeEdit()" class="button button-clear">返回</button>
      <h1 class="title"></h1>
      <button ng-click="fieldDetail.submitEdit()" class="button button-clear">提交</button>
    </div>
    <ion-content>
      <div class="list" style="margin-top: 13px" ng-if="fieldDetail.type!='text'">
        <div class="item item-divider">
          {{fieldDetail.title}}设置
        </div>
        <div class="item range range-positive">
          {{fieldDetail.min}}
          <input type="range" name="volume" step="0.1" min="{{fieldDetail.min}}" max="{{fieldDetail.max}}" ng-model="fieldDetail.aval">
          {{fieldDetail.max}}
        </div>
        <div class="item item-text-wrap text-center">
          {{fieldDetail.aval}}
        </div>
      </div>
      <div class="list" style="margin-top: 13px" ng-if="fieldDetail.type=='text'">
        <div class="item item-divider">
          {{fieldDetail.title}}设置
        </div>
        <div class="item item-input">
          <input type="text" ng-model="fieldDetail.aval">
        </div>
      </div>
    </ion-content>
  </div>
</script>
